.RychardR {
  font-family: var(--ffs);
  color: var(--ctext);
}

.RychardR-content {
  display: block;
  text-align: center;
}

.RychardR-logo {
  width: 10rem;
}

.RychardR-subheader {
  font-size: 2.4rem;
}



.RychardR-title {
  font-weight: var(--fwn);
  font-size: 3rem;
  margin: 0;
}

.RychardR-text {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.RychardR-contact {
  font-size: 2rem;
}

.RychardR-signature {
  margin: 1rem 0 0 0;
  width: clamp(15rem, 25rem, 80%);
}