
/*-----------------------------------*\
            FONTS VARIABLE
    Here we declate the variable of
    the fonts, just below root you
    can select the font-face

    You should change the fonts, but not
    the names, so all components can fix
    with the new fonts. 

    We use three fonts in every design,
    1.- Primary (default font, text and
    subheaders, easy to read)
    2.- Secondary (headliners)
    3.- Accent (rarely used, mostly for
    buttons, tags, dates, links, etc.)
\*-----------------------------------*/

@font-face {
    font-family: 'FontPrimaryNormal';
    src: url('./fonts/ArsenalSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontPrimaryBold';
    src: url('./fonts/ArsenalSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontPrimaryItalic';
    src: url('./fonts/ArsenalSC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    --ff-1l: 'FontPrimaryNormal';
    --ff-1n: 'FontPrimaryNormal';
    --ff-1b: 'FontPrimaryBold';
    --ff-1ni: 'FontPrimaryItalic';

    --fs-text: 2rem;
    --fs-1: 2.8rem;
    --fs-2: 4.4rem;
    --fs-3: 6rem;
    --fs-4: 7.6rem;
    --fs-5: 9.2rem;
    --fs-6: 9.8rem;
    --fs-7: 11.4rem;
    --fs-8: 13rem;
    --fs-9: 13.6rem;
}

@media (max-width: 1280px) {
    :root {
        --fs-1: 2.55rem;
        --fs-2: 4rem;
        --fs-3: 5.45rem;
        --fs-4: 6.9rem;
        --fs-5: 8.35rem;
        --fs-6: 8.95rem;
        --fs-7: 10.45rem;
        --fs-8: 12rem;
        --fs-9: 12.55rem;
    }
}

@media (max-width: 1024px) {
    :root {
        --fs-1: 2.3rem;
        --fs-2: 3.6rem;
        --fs-3: 4.9rem;
        --fs-4: 6.2rem;
        --fs-5: 7.5rem;
        --fs-6: 8rem;
        --fs-7: 9.35rem;
        --fs-8: 10.8rem;
        --fs-9: 11.4rem;
    }
}

@media (max-width: 768px) {
    :root {
        --fs-text: 1.8rem;
        --fs-1: 2.05rem;
        --fs-2: 3.2rem;
        --fs-3: 4.35rem;
        --fs-4: 5.5rem;
        --fs-5: 6.65rem;
        --fs-6: 7.1rem;
        --fs-7: 8.25rem;
        --fs-8: 9.6rem;
        --fs-9: 10.25rem;
    }
}

@media (max-width: 576px) {
    :root {
        --fs-1: 2rem;
        --fs-2: 2.4rem;
        --fs-3: 2.8rem;
        --fs-4: 3.4rem;
        --fs-5: 4rem;
        --fs-6: 4.6rem;
        --fs-7: 5.2rem;
        --fs-8: 5.8rem;
        --fs-9: 6.4rem;
    }
}

/*-----------------------------------*\
  #COLORS#

  You should change the colors, but not
  the names, so all components can fix
  with the new colors.

  We use four special colors in every
  design:
  1.- action (The color of the buttons
      we want the user to click)
  2.- accent (The color of the things
      we want the user to see)
  3.- detail (rarely used, mostly for
      data, special part of texts, etc.)
  4.- effect (If there is a effect in
      the design, it will have this)

  Finally, we have the background color
  and text color.

  You can use this box to comment your
  color palette:
  
  pink: hsl(288, 99%, 65%);
  blue: hsl(180, 100%, 46%) ;
  yellow: hsl(58, 87%, 53%);
  green: hsl(103, 100%, 50%);
\*-----------------------------------*/

:root {
    --c-background: #ffffff;
    --c-text: #010C19;

    --c-action: #ff00ff;
    --c-accent: #4AFD01;
    --c-detail: #ffff00;
    --c-effect: #00ffff;
}

/*-----------------------------------*\
            HTML CONFIG
    Here yoy change the REM size to
    10px, making easy to do the math
\*-----------------------------------*/
html {
    font-size: 62.5%;
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
    font-family: var(--ff-1n);
    font-size: var(--fs-text);
    overflow-x: hidden;
}

/*-----------------------------------*\
            CUSTOM VARIABLE
  Here you can put all your custom
  variables and adit them when you
  need it. DON'T forget to change
  your mediaqueries if necesary
\*-----------------------------------*/