:root {
  --ff-2: 'FontSecondary';


  --fw-l: 'lighter';
  --fw-n: 'normal';
  --fw-b: 'bolder';


  --fs-ssss: 0.5rem;
  --fs-sss: 0.675rem;
  --fs-ss: 0.75rem;
  --fs-s: 0.875rem;
  --fs-n: 1rem;
  --fs-l: 1.5rem;
  --fs-ll: 2rem;
  --fs-lll: 2.5rem;
  --fs-llll: 3rem;

  /*-----------------------------------*\
  #COLORS#

  You should change the colors, but not
  the names, so all components can fix
  with the new colors.

  We use four special colors in every
  design:
  1.- action (The color of the buttons
      we want the user to click)
  2.- accent (The color of the things
      we want the user to see)
  3.- detail (rarely used, mostly for
      data, special part of texts, etc.)
  4.- effect (If there is a effect in
      the design, it will have this)

  Finally, we have the background color
  and text color.

  You can use this box to comment your
  color palette:
  
  pink: hsl(288, 99%, 65%);
  blue: hsl(180, 100%, 46%) ;
  yellow: hsl(58, 87%, 53%);
  green: hsl(103, 100%, 50%);
\*-----------------------------------*/

  --c-background: #010C19;
  --c-text: hsl(0, 0%, 100%);

  --c-action: #DB4BFE;
  --c-accent: #4AFD01;
  --c-detail: #FDF069;
  --c-effect: #49ECFD;

  /*this is a green color hsl(162, 96%, 53%) */

}

/*-----------------------------------*\
  #FONTS#

  You should change the fonts, but not
  the names, so all components can fix
  with the new fonts.

  We use three fonts in every design,
  1.- Primary (default font, text and
    subheaders, easy to read)
  2.- Secondary (headliners)
  3.- Accent (rarely used, mostly for
    buttons, tags, dates, links, etc.)
\*-----------------------------------*/
@font-face {
  font-family: FontSecondary;
  src: url('../fonts/ShipporiMincho-Regular.ttf');
}

body {
  background-color: var(--c-background);
}


@media (min-width: 576px) {
  :root {
    --fs-l: 1.75rem;
    --fs-ll: 2rem;
    --fs-lll: 3.75rem;
    --fs-llll: 4.5rem;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-ss: 0.875rem;
    --fs-s: 1rem;
    --fs-n: 1.125rem;
    --fs-l: 2rem;
    --fs-ll: 3rem;
    --fs-lll: 5rem;
    --fs-llll: 6rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-l: 2.25rem;
    --fs-ll: 4rem;
    --fs-lll: 6.25rem;
    --fs-llll: 7.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --fs-ss: 1rem;
    --fs-s: 1.125rem;
    --fs-n: 1.25rem;
    --fs-l: 2.5rem;
    --fs-ll: 5rem;
    --fs-lll: 7.5rem;
    --fs-llll: 9rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --fs-l: 2.75rem;
    --fs-ll: 6rem;
    --fs-lll: 8.75rem;
    --fs-llll: 10.5rem;
  }
}