
.UiContainers {
    width: 100%;
    margin: 0;
    padding: 0;
}
.UiContainerDesktopMax {
    width: (100%-1px);
    border: 1px solid red;
    margin: 0;
    padding: 0;
}
.UiContainerDesktopMin {
    width: 1367px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerLaptopMax {
    width: 1366px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerLaptopMin {
    width: 885px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerTabletMax {
    width: 884px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerTabletMin {
    width: 431px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerMobileMax {
    width: 430px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.UiContainerMobileMin {
    width: 360px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}