.UiContainerDesktopMax {
    width: 1920px;
    border: 1px solid red;
}
.UiContainerDesktopMin {
    width: 1367px;
    border: 1px solid red;
}

.UiContainerLaptopMax {
    width: 1366px;
    border: 1px solid red;
}

.UiContainerLaptopMin {
    width: 885px;
    border: 1px solid red;
}

.UiContainerTabletMax {
    width: 884px;
    border: 1px solid red;
}

.UiContainerTabletMin {
    width: 431px;
    border: 1px solid red;
}

.UiContainerMobileMax {
    width: 430px;
    border: 1px solid red;
}

.UiContainerMobileMin {
    width: 360px;
    border: 1px solid red;
}