.hero {
    padding-block-start: 120px;
    text-align: center;
    font-family: var(--ffs);
    color: var(--ctext);
  }
  
  .hero-banner {
    width: 10rem;
  }
  
  .subheader {
    display: flex;
    height: auto;
    font-size: 3rem;
  }

  

  .hero-title {
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
  }
  
  .strong {
    color: var(--ctext);
  }


  
  .hero-text {
    font-size: 1rem;
    font-weight: var(--fw-300);
    text-transform: uppercase;
    letter-spacing: 5px;

  }
  
  .hero .subheader .space { padding: 0.1em; }
  
  .hero .subheader :is(.in, .out) {
    opacity: 0;
    transform: scaleY(0);
  }
  
  .hero .strong.active .out {
    opacity: 1;
    transform: scaleY(1);
    animation: textWave 0.2s ease reverse forwards;
  }
  
  .hero .subheader .in { animation: textWave 0.2s ease forwards; }
  