.array {
  position: relative;
  text-align: left;
  height: 1.2em;
  margin-block: 10px 25px;
}

.array .word {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-weight: inherit;
  display: flex;
}

.array :is(.in, .out) {
    opacity: 0;
    transform: scaleY(0);
  }
  
.word .active .out {
    opacity: 1;
    transform: scaleY(1);
    animation: textWave 0.2s ease reverse forwards;
  }
  
.array .in { animation: textWave 0.2s ease forwards; }
  
  @keyframes textWave {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  