.wrapper {

    position: relative;
  }
  
  .word {
    position: absolute;
  }
  
  .space {
    padding: 0.1em;
  }
  
  :is(.in, .out) {
    opacity: 0;
    transform: scaleY(0);
  }
  
  .word.active .out {
    opacity: 1;
    transform: scaleY(1);
    animation: textWave 0.2s ease reverse forwards;
  }
  
  .in {
    animation: textWave 0.2s ease forwards;
  }
  
  @keyframes textWave {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
  
    100% {
      opacity: 1;
      transform: scaleY(1);

    }
  }

  @keyframes textWaveOut {
    0% {
      display: flex;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      display: none;

    }
  }